name: push-compile
on:
    push:
        branches:
          - 'main'

jobs:
    compile:
        name: compile
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v3
          - uses: mlugg/setup-zig@v2
          - run: "./build"
          - uses: actions/upload-artifact@v6
            with:
                name: bin
                path: bin
